{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
 <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Bienvenu sur le CEPPIC</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">	
Situé à Isneauville, le CEPPIC est le centre de formation continue de la CCI Rouen Métropole.

Depuis plus de 50 ans, le CEPPIC intervient auprès des entreprises, PME-TPE, grands groupes ou collectivités, du territoire Rouen-Dieppe-Elbeuf. Et accompagne également les particuliers et les demandeurs d’emploi.

L’objectif est d’accompagner le développement des compétences des participants grâce à des formations opérationnelles, basées sur des mises en situation, directement transposables au poste de travail.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a class="nav-link" href="/formation">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Mes formations</button>
       </a>
      </div>
    </div>
  </div>
{% endblock %}
