<footer class="footer mt-auto py-3 bg-light">
  <div class="footer-copyright py-4 bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <div class="d-flex">
                    <span class="text-light">© 2019 Website / project name</span>
                    <a href="#" class="px-5 text-light">
                      Terms of Use
                    </a>
                    <a href="#" class="text-light">            
                      PrivacyStatement
                    </a>
                  </div>
                  
                    
                </div>
            </div>
        </div>
    </div>

</footer>